doctype html
html(id="rcs" ng-app="rcs" ng-controller="appCtrl" ng-click="clickPage()")
  head
    title RCS

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet" href="css/font-awesome.css")
    link(rel="stylesheet" href="lib/ionic/css/ionic.css")
    link(rel="stylesheet" href="lib/angular-material/angular-material.css")

    link(rel="stylesheet" href="css/app.css")
    link(rel="stylesheet" href="css/dialogs.css")
    link(rel="stylesheet" href="css/directives.css")
    link(rel="stylesheet" href="css/page.css")
    link(rel="stylesheet" href="css/page-manage-signin.css")
    link(rel="stylesheet" href="css/page-manage-restaurant.css")
    link(rel="stylesheet" href="css/page-manage-table.css")
    link(rel="stylesheet" href="css/page-use-about.css")
    link(rel="stylesheet" href="css/page-use-eating.css")
    link(rel="stylesheet" href="css/page-use-menu.css")
    link(rel="stylesheet" href="css/page-use-payment.css")

    script(src='lib/angular/angular.js')
    //- script(src='lib/angular/i18n/angular-locale_zh-cn.js')
    script(src="lib/ionic/js/ionic.bundle.js")
    script(src="lib/ngCordova/dist/ng-cordova.js")
    script(src="cordova.js")

    script(src='lib/q/q.js')
    script(src='lib/angular-animate/angular-animate.js')
    script(src='lib/angular-material/angular-animate-sequence.js')
    script(src='lib/angular-material/angular-animate-stylers.js')
    script(src='lib/angular-material/angular-material.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.js')
    script(src='lib/stringFormat/stringFormat.js')

    script(src="js/app.js")
    script(src="js/directives.js")
    script(src="js/filters.js")
    script(src="js/constants.js")
    script(src="js/controllers.js")
    script(src="js/services.js")

  body(layout="horizontal")
    div(ui-view layout="horizontal" layout-fill)